html {
  font-family: Merriweather, serif;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
}

td {
  height: 10em;
}

.list-group ul li {
  text-decoration: none;
}

.grey {
  color: #333;
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 8px;
}

.red {
  color: #b92828;
  background-color: #f2bcbc;
  border: 1px solid #991919;
  border-radius: 8px;
}

.green {
  color: #51603f;
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  border-radius: 8px;
}

.blue {
  color: #38448e;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 8px;
}
